body{
  background-color: lightblue;
}
.number{
  height: 200px;
  width: 200px;
  border: white solid 2px;
  color: green;
  background-color: lightgreen;
  font-size: 160px
}

#div2{
  float: left;
}
#div3{
  float: left;
}
#div4{
  position: absolute;
  left: 212px;
  bottom: 469px;
  float: left;
}
