body{
  background-color: #2C001E;
}
a:link, a:visited{
  border: white solid 2px;
  background-color: lightblue;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:sans-serif;
}
a:hover, a:active{

  background-color: white;
}
.number{
  height: 150px;
  width: 150px;
  border: white solid 2px;
  color: white;
  font-size: 100px

}
p{
  color: #DD4814;
}
#div1{
  position: relative;
  float: left;
  right: -20px;
  border-top-right-radius: 50px;
}
#div2{
  position: relative;
  float: left;
  right: -20px;
  border-bottom-left-radius: 50px;
}

#div3{
  position: relative;
  float: left;
  right: -20px;
  border-top-left-radius: 50px;
}
#div4{
  position: relative;
  float: left;
  right: -20px;
  border-bottom-left-radius: 50px;
  text-align: center;
}
#div_5{
  position: relative;
  float: left;
  border: black solid 0px;
  right: -22px;
  bottom: -2px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
}
#div6{
  position: relative;
  float: left;
  right: -24px;
  border-top-right-radius: 50px;
  text-align: center;
}
#div7{
  position: relative;
  float: left;
  right: -20px;
  border-bottom-right-radius: 50px;
  text-align: center;
}
#div8{
  position: relative;
  right: -20px;
  float: left;
  border-top-right-radius: 50px;
  text-align: center;
}
#div9{
  position: relative;
  right: -20px;
  float: left;
  border-bottom-left-radius: 50px;
  text-align: center;
}

#parent{
  position: relative;
  margin: auto;
  height: 650px;
  width: 500px;
  text-align: center;
}

h1{
  font-family: sans-serif;
  text-align: center;
  color: white;
}

#message{
  position: absolute;
  float:left;
  bottom: 20px;
  left: 20px;
  width: 300px;
  height: 600px;
  padding: 20px;
  background-color: #333333;
  font-family: sans-serif;
}
h3{
  color: white;
  font-family: sans-serif;
}

.rowText{
  color: green;
}
.colText{
  color: #660033;
}
.diaText{
  color: #f00941;
}

.highlightRow{
  background-color: #008000;
}
.highlightCol{
  background-color: #b6a504;
}
.highlightParent{
  background-color: #DD4814;
}
.highlightParentDia{
  background-color: #660033;
}
.highlightParentDia2{
  background-color: #cccc00;
}
.highlightParent1{
  background-color: #772953;
}
.highlightParent2{
  background-color: #333333;
}
.highlight5{
  background-color: #003e92;
}
.highlightDia{
  background-color: #f00941;
}
.highlightDia2{
  background-color: #0066ff;
}
